.form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    border-radius: 8px;
    background-color: light-dark(var(--bg-light), var(--bg-dark));
    max-inline-size: 500px;
    padding: 24px;
    margin-block-start: 24px;
    margin-inline: auto;
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.field small {
    color: #ec0000;
    font-weight: bold;
    margin-block-start: 4px;
}

.form button {
    inline-size: max-content;
    padding: 8px 16px;
    margin-inline: auto;
}