* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --bg-light: #f2f2f2;
    --bg-dark: #272b34;

    &:has(dialog[open]) {
        overflow: hidden;
        scrollbar-gutter: stable;
    }
}

body {
    max-inline-size: 1200px;
    text-align: center;
    line-height: 1.5;
    padding-inline: 16px;
    margin: 24px auto;
}

h1,
h2 {
    text-box: trim-both cap alphabetic;
}

img {
    object-fit: cover;
}

input {
    font: inherit;
    border-radius: 4px;
    border-style: solid;
    padding: 8px;
}

button {
    font: inherit;
    background-color: #0d6efd;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: #448af2;
    }

    &:disabled {
        background-color: #6ea0ff;
        cursor: not-allowed;
    }
}

a {
    text-underline-offset: 4px;

    &.link {
        display: inline flow-root;
        margin-block: 16px;
    }

    &:hover {
      text-decoration-line: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none;
    }
}