.input {
    inline-size: 100%;
    margin-block-end: 16px;
}

.contacts {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr) auto;
    row-gap: 12px;
}

.headings,
.contact {
    display: grid;
    grid-template-columns: subgrid;
    grid-column-start: span 6;
    gap: 12px;
}

.headings {
    font-weight: bold;

    @media (max-width: 50rem) {
        display: none;
    }
}

.contact {
    place-items: center;
    border-radius: 6px;
    background-color: light-dark(var(--bg-light), var(--bg-dark));
    box-shadow: 0 2px 8px light-dark(rgb(0 0 0 / 15%), rgb(0 0 0 / 35%));
    padding: 12px 24px;

    @media (max-width: 50rem) {
        grid-template-columns: revert;
    }
}

.contact button {
    color: LinkText;
    color: -webkit-link;
    background: none;
    border: none;
    text-transform: none;
    text-decoration-line: underline;
    text-underline-offset: 4px;
}

.contact button:hover {
    text-decoration-line: none;
}

.contact img {
    border-radius: 50%;
}

.contact mark {
    font-weight: bold;
    color: inherit;
    background: none;
    text-decoration: overline 2px;
    text-underline-offset: 4px;
}

.noContact {
    grid-column: 1 / -1;
}

.dialog {
    background-color: light-dark(var(--bg-light), var(--bg-dark));
    border-radius: 12px;
    border-width: 2px;
    padding: 32px;
    margin: auto;
}

.dialog p {
    margin-block: 24px;
}

.dialog button {
    padding: 4px 8px;
}

.dialog button:first-of-type {
    margin-inline-end: 16px;
}

.dialog::backdrop {
    background: rgb(0 0 0 / 0.5);
}